# Entorno virtual
/venv/
/env/

# Archivos de entorno
.env

# Cachés de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.p~ 
*.py.class

# Archivos de logs
*.log

# Archivos creados por herramientas
*.coverage
coverage.xml
htmlcov/
.cache/
